{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock title %}
    {% block meta_description %}{% endblock meta_description %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900i&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'mainapp:Index' %}" class="logo">Юр — дело.рф</a>
            <div id='menu-burger' onclick="openMenu()">
                <img src="{% static 'images/menu-btn.svg' %}" /><span>Меню</span>
                <div class="dn" onmouseout="closeMenu()">
                    <div><a href="/{{ city_slug }}/" class="city-page">Все специализации</a></div>
                    {% for spec in specializations %}
                        <div>
                            <a href="/{{city_slug}}/{{ spec.slug}}/">
                                {{ spec.name }}
                                <img src="{% static 'images/arrow-right.svg' %}"/>  
                            </a>
                            {% with spec.related.all as subs %}
                            <div>
                                {% for sub in subs  %}
                                <a href="/{{city_slug}}/{{ sub.slug }}/">{{ sub.name }}</a>
                                {% endfor %}
                            </div>
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="" class="ask-question-top">Задать вопрос</a>
            <a href="/{{ city_slug }}/" class="city-page">Наши юристы</a>
            <div class="menu-buttons">
                <a id='current-city' ><span onclick="showCities()" data-value="{{ main_city.slug }}">{{ main_city.name }}</span>
                    <div class="dn">
                        <ul>
                            {% for c in cities|dictsort:'id' %}
                                <li data-value="{{ c.slug }}" onclick="selectCity(this)" {% if c == city %}style='color:#BDBDBD;'{% endif %}>{{ c.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="confirm-city dn">
                        <p>Ваш город</p>
                        <p id='confirm-city'>{{ main_city.name }}</p>
                        <button onclick="ConfirmCity(this)" class="confirm-city">Да, спасибо</button>
                        <button onclick="NotConfirmCity()">Нет, другой</button>
                    </div>
                </a>
                {% if user.is_authenticated %}
                    <a href="" id='enter'>Профиль</a>
                {% else %}
                    <a href="{% url 'users:Login' %}" id='enter'>Войти</a>
                {% endif %}
            </div>
        </nav>
        
    </header>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    <footer>

    </footer>
</body>
</html>