{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}<title>{{ lawyer.lawyername }}: юридическая помощь, {{ lawyer.specializations.all|first }}, отзывы</title>{% endblock title %}
{% block meta_description %}<meta name="description" content="{{ lawyer.aboutself }}">
<meta name="keywords" content="{{ lawyer.lawyername }}">
{% endblock meta_description %}

{% block content %}

<div class="breadcrumbs df lawyer-page">
    <a href="{% url 'mainapp:Index' %}" class="flex-abs-center">Главная</a>
    <a href="/{{ city_slug }}/" class="flex-abs-center">Адвокаты и юристы</a>
    <a class="flex-abs-center lawyer-bread">{{ lawyer.lawyername }}</a>
</div>
<div class="lawyer-page-wrapper">
    <div class="left-col">
        <img src="{{ lawyer.image.url }}" alt="" class="lawyer-page">
        <div class="lawyer-links">
            <a href="#about" class="lawyer-links" style="color: #1771E6;">О специалисте</a>
            <a href="#feedbacks" class="lawyer-links">Отзывы</a>
            <a href="#question" class="lawyer-links">Задать вопрос</a>
        </div>
    </div>
    <div class="right-col">
        <h1>{{ lawyer.lawyername }}</h1>
        <div class="lawyer-extras">
            <div class="rating">
                <img src="{% static 'images/star.svg' %}" />
                <span class="{% if lawyer.rating >= 8 %}green{% else %}orange{% endif %}">{{ lawyer.rating }}</span>
            </div>
            <span class="lawyer-feedbacks">{{comments|length}} {{ comments|length|feedbacks_count }}</span>
            <span class="lawyer-city">{{ lawyer.city }}</span>
        </div>
        <div id="about">
            <h2 class="lawyer-title">О специалисте</h2>
            <p class="lawyer-info">{{ lawyer.aboutself }}</p>
        </div>
        <div id="feedbacks">
            <h2 class="lawyer-title">Отзывы</h2>            
            {% for comment in comments %}
            <div class="feedback-item">
                <p>{{ comment.text }}</p>
                <p>{{ comment.author }}</p>
            </div>
            {% endfor %}    
        </div>
        <div id="question">
            <form action="" method="POST" class="question-form">
                {% csrf_token %}
                <p>Задайте свой вопрос юристу</p>
                <textarea name="{{question.question.html_name}}" id="{{question.question.id_for_label}}"
                    placeholder="{{question.question.help_text}}"></textarea>
                <input type="text" name="{{ question.phone_number.html_name }}" id="{{ question.phone_number.id_for_label }}"
                    placeholder="{{ question.phone_number.help_text }}">
                <input type="text" name="{{ question.email.html_name }}" id="{{ question.email.id_for_label }}"
                    placeholder="{{ question.email.help_text }}">
                <input type="submit" value="Отправить">
            </form>
        </div>
        <div>
            <h2 class="lawyer-title">Другие юристы</h2>
            {% for lawyer_ in lawyers %}
                <div class="list-item" data-href="{{ lawyer_.get_absolute_url }}" onclick="goToPage(this)">
                    <img src="{{ lawyer_.image.url }}" class="list-item m-dn" />
                    <div class="item-desc">
                        <div class="item-desc-top">
                            <p>{{ lawyer_.major|capfirst }}</p>
                        </div>
                        <img src="{{ lawyer_.image.url }}" class="list-item dn" />
                        <p class="name">{{ lawyer_.lawyername }}</p>
                        <div class="item-btns flex-v-c">
                            <a href="{{ lawyer_.get_absolute_url }}" class="item-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock content %}