{% load static %}
{% load my_tags %}

{% for lawyer in lawyers %}
<div class="list-item" data-href="{{ lawyer.get_absolute_url }}" onclick="goToPage(this)">
    <img src="{{ lawyer.image.url }}" class="list-item m-dn" />
    <div class="item-desc">
        <div class="item-desc-top">
            <p>{{ lawyer.major|capfirst }}</p>
            <div class="rating">
                <img src="{% static 'images/star.svg' %}" />
                <span class="{% if lawyer.rating >= 8 %}green{% else %}orange{% endif %}">{{ lawyer.rating }}</span>
                <span class="lawyer-feedbacks">
                    <span class="d-dn">(</span>
                    {% if lawyer.num_comments == 0 %}
                    <span class="d-dn">0</span>
                    <span class="m-dn">Нет отзывов</span>
                    {% else %}{{ lawyer.num_comments }} <span class="m-dn">{{ lawyer.num_comments|feedbacks_count }}</span>{% endif %}
                    <span class="d-dn">)</span>
                </span>
            </div>
        </div>
        <img src="{{ lawyer.image.url }}" class="list-item dn" />
        <p class="name">{{ lawyer.lawyername }}</p>
        <p class="item-desc">{{ lawyer.aboutself}}</p>
        <div class="item-btns flex-v-c">
            <a href="{{ lawyer.get_absolute_url }}" class="item-btn">Подробнее</a>
            <a class="item-btn-quest">
                <img src="{% static 'images/mail.svg' %}" class="item-btn-quest" />Задать вопрос
            </a>
        </div>
    </div>
</div>
{% endfor %}