html{
    font-family: 'Montserrat' , sans-serif;
}
body{
    margin: 0;
    background-color: #fff;
}
div.content{
    max-width: 1024px;
    min-height: 120vh;
    margin: 0 auto;
}
header{
    max-width: 1024px;
    height: 48px;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

}
nav > *{
    margin: 0 2rem 0 0;
    color: #4F4F4F;
    white-space: nowrap;
}
nav>a:not(:first-of-type):hover{
    color: #828282;
}
a{
    text-decoration: none;
}
h1{
    margin: 0 0 1rem 0;
    font-size: 2rem;
    line-height: 39px;
    color: #333333;
}
button{
    cursor: pointer;
}
input[type="submit"]{
    -webkit-appearance: none;
}
dialog:not([open='open']){
    display: none;
}
dialog[open='open']{
    display: block;
}
.df{
    display: flex;
}
.dn{
    display: none!important;
}
.d-dn{
    display: none!important;
}
.fxd-c{
    flex-direction: column;
}
.fxd-r{
    flex-direction: row;
}
.flex-abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-v-c{
    display: flex;
    align-items: center;
}
.green{
    color: #00B93F;
}
.orange{
    color: #FFA000;
}
.transScaleY-1{
    transform: scaleY(-1);
}
.box-shadow{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.logo{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
svg.logo{
    margin: 0 15px 0 0;
}
/* Burger start */
#menu-burger{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #4F4F4F;
    user-select: none;
    z-index: 2;
}
#menu-burger:hover{
    background: #FAFAFA;
}
.active-menu{
    background: #FAFAFA;
}
#menu-burger>svg{
    margin: 0 0.5rem 0 0;
}
#menu-burger>div{
    position: absolute;
    top: calc(100% + 1rem);
    left:0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 20px 1.5rem 20px 1rem;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 1;
    transition: 0.3s ease;
}
#menu-burge:hover>div{
    display: flex;
}
#menu-burger>div>div>div{
    position: absolute;
    top: 0;
    left: 290px;
    display: none;
    width: 452px;
    height: 100%;
    padding: 20px 1.5rem;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.15);
}
#menu-burger>div>div>div::before{
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    display: block;
    height: 100%;
    width: 40px;
    background-color:transparent;
}
#menu-burger>div>div>div a{
    display: block;
    padding: 12px 12px 12px 8px;
    color: #000;
}
#menu-burger>div>div>div a:hover{
    color: #4f4f4f;
}
#menu-burger>div>div:hover>div{
    display: block;
}
#menu-burger>div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 8px;
    box-sizing: border-box;
}
#menu-burger div a{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 8px; */
    white-space: normal;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
#menu-burger div a img{
    margin: 0 0 0 10px;
}
#menu-burger div a:hover{
    background: #FAFAFA;
    border-radius: 8px;
}
#menu-burger div a>div{
    position: absolute;
    top: 0;
    left: 300px;
    display: none;
    height: 100%;
    width: 452px;
    background: #FAFAFA;
    border-radius: 0px 8px 8px 0px;
}
#menu-burger div a:hover>div{
    display: flex;
}

#menu-burger ul{
    position: absolute;
    top: 50px;
    left:0;
    width: 300px;
    height: 498px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0 0 0;
    padding: 22px 10px 0 24px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 1;
    transition: 0.3s ease;
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
}
#menu-burger ul::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}
#menu-burger ul::-webkit-scrollbar-thumb{
    width: 6px;
    height: 16px;
    background: #BDBDBD;
    border-radius: 4px;
}
#menu-burger li{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 8px;
    white-space: normal;
}
#menu-burger li:hover{
    background: #FAFAFA;
    border-radius: 8px;
}
#menu-burger li a{
    color: inherit;
}
#menu-burger li ul{
    position: absolute;
    height: 498px;
    width: 452px;
    background: #FAFAFA;
    border-radius: 0px 8px 8px 0px;
}
/* Burger end */
div.menu-buttons{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}
#current-city{
    position: relative;
    margin: 0 24px 0 0;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
#current-city div{
    position: absolute;
    top: 50px;
    /* left:-40px; */
    right: 0;
    height: 284px;
    width: 230px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 1;
    transition: 0.3s ease;
}
#current-city div.confirm-city{
    left: -203px;
    height: max-content;
    width: max-content;
    padding: 2rem 2rem 1rem 2rem;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #000;
}
div.confirm-city p:first-of-type{
    margin: 0 0 12px 0;
    font-weight: 500;
    font-size: 18px;
}
div.confirm-city p:last-of-type{
    margin: 0 0 27px 0;
    font-size: 28px;
    font-weight: 700;
}
div.confirm-city button{
    height: 56px;
    width: 140px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
div.confirm-city button:first-of-type{
    background: #FFDD2D;
    border: none;
    color: #333333;
}
div.confirm-city button:last-of-type{
    background: #fff;
    border: 1px solid #E0E0E0;
    color: #4F4F4F;
}
#current-city ul{
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 10px 0 0;
    padding: 22px 0 0 0;
    list-style: none;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 16px;
}
#current-city ul::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}
#current-city ul::-webkit-scrollbar-thumb{
    width: 6px;
    height: 16px;
    background: #BDBDBD;
    border-radius: 4px;
}
#current-city li{
    padding: 0.5rem 1.5rem;
}
#enter,
#add-offer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    max-width: max-content;
    padding: 0 1rem;
    box-sizing: border-box;
    background: #ECF1F7;
    border-radius: 8px;
    font-weight: 500;
    color: #1771E6;
    cursor: pointer;
    transition: 0.3s ease;
}
#enter:hover,
#add-offer:hover{
    background: #d8e5f5;
}
#enter{
    display: none;
}
/* Index start */

div.banner{
    flex-direction: column;
    width: 100%;
    height: 22rem;
    margin: 0 0 3rem 0;
    padding: 48px 32px 32px 32px;
    box-sizing: border-box;
    border-radius: 12px;
}
div.banner h1,p{
    max-width: 680px;
}
div.banner h1{
    margin: 0 0 1rem 0;
    font-size: 32px;
    color: #333333;
}
div.banner p{
    margin: 0;
}
.banner-btn{
    width: 172px;
    height: 56px;
    margin: auto 0 0 0;
    background: #FFDD2D;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.banner-btn:hover{
    background-color: #FCC521;
    color: #000;
}
div.index-specs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.spec-card{
    width: calc(100%/3 - 2rem);
    min-height: 25rem;
    margin: 0 0 2rem 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #fff;
}
div.spec-card.mini-card{
    min-height: 21rem;
}
div.spec-card > img{
    width: 100%;
    height: 9rem;
    border-radius: 7px 7px 0px 0px;
    object-fit: cover;
}
div.spec-card > div{
    flex-grow: 1;
    padding: 1.5rem 1rem 2rem 1rem;
    box-sizing: border-box;
}
a.spec-card{
    display: block;
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}
div.spec-card-wide{
    height: 206px;
    width: calc(100% - 100%/3 - 1rem);
    margin: 0 0 2rem 0;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #fff;
}
div.spec-card-wide > img{
    height: 100%;
    width: 237px;
    margin: 0 1.5rem 0 0;
    border-radius: 7px;
    object-fit: cover;
}
div.specs-card{
    width: calc(100%/3 - 2rem);
    margin: 0 0 2rem 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}
div.specs-card>div:not(:last-child){
    margin: 0 0 2rem 0;
}
div.specs-card .subspecs{
    white-space: normal;
}
div.subspecs{
    flex-wrap: wrap;
    padding: 0;
    white-space: nowrap;
}
div.subspecs a{
    margin: 0 0 0.5rem 0;
    font-size: 16px;
    color: #000;
    white-space: normal;
}
div.subspecs a::before{
    content:' · ';
}
div.specs-card div.subspecs a::before{
    content:'';
}
button.spec-card-btn{
    width: 140px;
    height: 48px;
    margin: auto 0 0 0;
    background: #ECF1F7;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    color: #1771E6;
}
button.spec-card-btn:hover{
    background-color: #d8e5f5;
}
div.question-block{
    width: 100%;
    margin: 3rem 0 5rem 0;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    border-radius: 12px;
    background: #FAFAFA;
}
div.question-block>div{
    width: 300px;
    margin: 0 3rem 0 0;
}
div.question-block>div p:first-child{
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}
div.question-block form.question-form{
    position: relative;
    padding: 0;
    flex-grow: 1;
}
div.question-block textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    outline: none;
    font-family: 'Montserrat';
    font-size: 16px;
}
textarea::-webkit-input-placeholder{
    color: #BDBDBD;
}
div.question-block form.question-form input[type='text']{
    min-width: unset;
}
/* Index start */

/* City page start */
h2{
    margin:3rem 0 1rem 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
h2 + p{
    margin: 0 0 3rem 0;
    line-height: 20px;
}
div.breadcrumbs{
    margin: 0 0 0.5rem 0;
}
div.breadcrumbs a{
    height: 31px;
    background: #FAFAFA;
    border: 1px solid #F1F1F1;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    color: #BDBDBD;
    white-space: nowrap;
}
div.breadcrumbs a:hover{
    color: #4F4F4F;
}
div.breadcrumbs a:not(:last-child){
    margin: 0 1rem 0 0;
}
h1+div{
    margin: 0 0 2rem 0;
}
.after-h1{
    margin: 0;
}
.results-count{
    margin: auto 0 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
div.list-wrapper{
    display: grid;
    grid-template-columns: calc(70% - 1.5rem/2) calc(30% - 1.5rem/2);
    grid-column-gap: 1.5rem;
    min-height: 100%;
    grid-template-areas:
    "list filter";
    padding: 20px 0 0 0;
}
div.list{
    grid-area:list;
}
div.no-offers{
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
div.no-offers h2{
    margin-top: 0;
}
div.no-offers h2 + p{
    margin: 0 0 1.5rem 0;
}
div.list-item.top-item{
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(76.38deg, #596376 0%, #616C80 100%);
}
div.list-item.top-item div.item-desc-top p,
div.list-item.top-item p.name,
div.list-item.top-item div.rating span,
div.list-item.top-item button.item-btn-quest{
    color: #fff;
}
div.list-item.top-item div.item-desc-top p *{
    display: none;
}
div.list-item.top-item button.item-btn-quest:hover{
    color: #2F80ED;
}
div.list-item.top-item button.item-btn-quest:hover svg path{
    fill: #1771E6;
}
div.list-item.top-item p.item-desc{
    color: #DCDCE0;
}
div.list-item{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    grid-template-areas:
    "item-img item-desc";
    padding: 1.5rem 0;
    box-sizing: border-box;
    border-top: 1px solid #E0E0E0;
    cursor: pointer;
}
div.list-item:last-of-type{
    border-bottom: 1px solid #E0E0E0;
}
img.list-item{
    /* height: 100%; */
    height: 224px;
    width: 200px;
    object-fit: cover;
    grid-area: item-img;
    align-self: center;
    border-radius: 8px;
}
div.item-desc{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    grid-area: item-desc;
}
div.item-desc-top{
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 0;
}
div.item-desc-top p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}
p.top-best{
    background: #C7C7C7;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    margin: 0 1rem 0 0!important;
    padding: 4px 6px 5px 8px;
    box-sizing: border-box;
    font-weight: 700!important;
    font-size: 12px;
    text-transform: uppercase;
    color: #333333!important;
}
div.rating{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}
div.rating img{
    width: 16px;
    height: 16px;
    margin: 0 0.5rem 0 0;
}
div.rating>span:first-of-type{
    font-weight: 700;
    font-size: 18px;
}
div.rating .lawyer-feedbacks{
    margin: 0 0 0 0.5rem;
}
p.name{
    margin: 0 0 0.5rem 0;
    font-size: 24px;
    color: #333333;
}
p.item-desc{
    margin: 0 0 1.5rem 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #828282;
}
div.item-btns{
    margin: auto 0 0 0;
}
a.item-btn,
button.item-btn-quest{
    display: inline-flex;
    width: max-content;
    padding: 19px 2rem;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
a.item-btn{
    margin: 0 2rem 0 0;
    background: #FFDD2D;
    color: #4F4F4F;
}
a.item-btn:hover{
    background: #FCC521;
}
button.item-btn-quest{
    align-items: center;
    background-color: transparent;
    color: #2F80ED;
    border: none;
    outline: none;
    font-family: inherit;
}
button.item-btn-quest:hover{
    background: #ECF1F7;
}
img.item-btn-quest,
svg.item-btn-quest{
    margin: 0 0.5rem 0 0;
}
div.filter-wrapper{
    grid-area: filter;
}
div.filters{
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
div.filter-select{
    margin: 0 0 1rem 0;
    font-size: 16px;
    font-weight: 500;
    color: #BDBDBD;
}
div.filter-select>span{
    display: block;
    margin: 0 0 0.5rem 0;
}
div.filter-value{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 1rem;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FAFAFA;
    transition: 0.2s ease;
    font-weight: 500;
}
div.filter-value.box-shadow{
    background: #fff;
}
div.filter-value.box-shadow:hover{
    border: 1px solid #F1F1F1;
}
div.filter-value:hover{
    background: #fff;
    border: 1px solid #BDBDBD;
    color: #333333;
}
div.filter-value input{
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    color: #4F4F4F;;
    font: inherit;
    font-size: 14px;
}
div.filter-value input::placeholder{
    color: #BDBDBD;
    font: inherit;
}
div.filter-value svg{
    padding: 20px 0;
    transition: 0.3s ease;
}
div.filter-value:hover svg path{
    fill: #4F4F4F;
}
div.filter-value>div{
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    height: 300px;
    overflow:hidden;
    padding: 0 2px 0 0;
    box-sizing: border-box;
    border: 1px solid #F1F1F1;
    border-top: 1px solid #E0E0E0;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.15);
}
div.filter-value ul{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    user-select: none;
}
div.filter-value ul::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}
div.filter-value ul::-webkit-scrollbar-thumb{
    width: 6px;
    height: 16px;
    background: #BDBDBD;
    border-radius: 4px;
}
div.filter-value ul li{
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #BDBDBD;
}
div.filter-value ul li:hover{
    background: #EDF4FD;
    color: #4F4F4F;
}
.selected{
    color: #4F4F4F!important;
    background-color: #EDF4FD;
}
button.filter-btn{
    height: 48px;
    border: 1px solid #1771E6;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #1771E6;
    outline: none;
}
button.filter-btn:hover{
    background: #EDF4FD;
}
div.filter-wrapper button{
    width: 100%;
}
div.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 28px 0 0 0;
    border-top: 1px solid #E0E0E0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
div.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #4F4F4F;
    transition: 0.2s ease;
}
div.pagination a:hover{
    color:  #1771E6;
}
div.pagination a.current-page{
    background: #1771E6;
    color: #fff;
}
div.pagination a.arrow{
    border: 1px solid #E0E0E0;
}
div.pagination a.arrow:hover{
    border-color: #4F4F4F;
}
div.pagination a.arrow:hover svg path{
    fill: #333333;
}
div.cities-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.cities-links a{
    margin: 0 2rem 1rem 0 ;
    text-decoration-line: underline;
    color: #4F4F4F;
}
div.cities-links a:hover{
    color: #1771E6;
}

/* City page end */

/* Lawyer Page start */
div.breadcrumbs a.lawyer-bread{
    border: none;
    background-color: transparent;
    color: #828282;
}
.lawyer-page-wrapper{
    display: grid;
    grid-template-columns: 12rem 35rem;
    grid-column-gap: 2rem;
    grid-template-areas: 
    "left-col right-col";
}
.left-col{
    grid-area: left-col;
}
img.lawyer-page{
    width: 100%;
    height: 14rem;
    margin: 0 0 1rem 0;
    border-radius: 8px;
    object-fit: cover;
}
div.lawyer-links{
    display: flex;
    flex-direction: column;
}
a.lawyer-links{
    font-size: 16px;
    line-height: 20px;
    color: #BDBDBD;
}
a.lawyer-links:not(:last-child){
    margin: 0 0 1rem 0;
}
.right-col{
    grid-area: right-col;
}
div.lawyer-extras{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2rem 0;
}
div.lawyer-extras div.rating{
    margin: 0 0.5rem 0 0;
}
span.lawyer-feedbacks{
    display: block;
    margin: 0 2rem 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #BDBDBD;
}
span.lawyer-city{
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #959BA4;
}
#about{
    margin: 0 0 3rem 0;
}
#about .lawyer-title{
    margin: 0 0 1rem 0;
}
.lawyer-title{
    margin: 0 0 2rem 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
p.lawyer-info{
    line-height: 20px;
    color: #333333;
}
#feedbacks{
    margin: 0 0 3rem 0;
}
#feedbacks p.lawyer-title{
    margin: 0 0 2rem 0;
}
div.feedback-item{
    margin: 0 0 1rem 0;
    padding: 1.5rem 1rem 1rem 1.5rem;
    border-radius: 8px;
    background: #FAFAFA;
}
div.feedback-item p:first-child{
    margin: 0 0 1rem 0;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
div.feedback-item p:last-child{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
div#question{
    margin: 0 0 60px 0;
}
div#question form.question-form{
    position: relative;
    width: 100%;
    padding: 0;
    background-color: transparent;
}
div#question form.question-form input[type='text']{
    min-width: unset;
    width: calc(100%/3 - 1rem);
    margin: 0 1rem 0 0;
}
div#question form.question-form input[type='submit']{
    margin: 0;
}
div.lawyer-page-wrapper div.list-item{
    margin: 0 0 1rem 0;
    padding: 1.5rem;
    border: none;
    background: #FAFAFA;
}
div.lawyer-page-wrapper a.item-btn{
    background: #FFDD2D;
}
div.lawyer-page-wrapper div.list-item:last-of-type{
    margin: 0;
}
div.lawyer-page-wrapper img.list-item{
    width: 133px;
    height: 145px;
}

/* Lawyer Page end */

/* Registration page */

form.register{
    width: 400px;
    margin: 0 auto;
}
form.register>div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 1rem 0;
}
form.register button{
    display: block;
    margin: 0 auto;
    height: 48px;
    padding: 0 1rem;
    box-sizing: border-box;
    background: #ECF1F7;
    border-radius: 8px;
    border: none;
    color: #1771E6;

}
form.register input{
    height: 2rem;
    border-radius: 4px;
    border: 1px solid #4d4d4d;
    outline: none;
    font-size: 1.5rem;
    font-family: inherit;

}

/* Registration page end */

/* Footer start */

footer{
    margin: 60px 0 0 0;
    padding: 5rem 0 0 0;
    background: #F9F9F9;
}
/*  Рендерим элементы как колонки */
footer div.content {
    display: flex;
    flex-flow: column wrap;
    height: 1100px;
    min-height: unset;
}

/*  Меняем порядок элементов, делая как бы строчную расстановку */
ul.footer-links:nth-child(3n+1) { order: 1; }
ul.footer-links:nth-child(3n+2) { order: 2; }
ul.footer-links:nth-child(3n)   { order: 3; }

/* Новые колонки разделители */
footer div.content::before,
footer div.content::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

ul.footer-links{
    width: max-content;
    max-width: calc(100%/3 - 50px);
    padding: 0;
    margin: 0 0 5rem 0;
    list-style: none;
}
ul.footer-links a{
    color: #4F4F4F;
}
ul.footer-links li{
    margin: 0 0 0.5rem 0;
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
}
ul.footer-links li:first-child{
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 18px;
    color: #4F4F4F;
}
ul.footer-links li:last-child{
    margin: 0;
}
/* Question Form */
dialog.question-form{
    position: absolute;
    width: 100%;
    padding: 220px 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 10;
    border: none;
}
form.question-form{
    position: relative;
    width: 810px;
    padding: 3rem;
    margin: 0 auto;
    background: #FAFAFA;
    border-radius: 12px;
}
form.question-form>img{
    position: absolute;
    top: -70px;
    right: 10px;
}
form.question-form p{
    margin: 0 0 2rem 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
form.question-form textarea{
    width: 100%;
    height: 256px;
    border: 1px solid #E0E0E0;
    margin: 0 0 1rem 0;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
}
form.question-form input[type='text'],
form.question-form input[type='submit']{
    margin: 0 1.5rem 0 0;
    outline: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
form.question-form input[type='text']{
    min-width: 248px;
    padding: 19px 16px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    background: #FFFFFF;
}
form.question-form textarea::placeholder,
form.question-form input[type='text']::placeholder{
    color: #BDBDBD;
}
form.question-form input[type='submit']{
    padding: 19px 2rem;
    background: #ECF1F7;
    border: none;
    border-radius: 4px;
    color: #1771E6;
}

/* Question Form */

/* Footer end */

/* Mobile styles  start */
@media (max-width: 425px), (orientation: landscape) and (max-height: 425px){
    header{
        height: 56px;
        margin: 0 0 0.5rem 0;
        padding: 1rem 20px;
        box-sizing: border-box;
        background: #333333;
    }
    nav{
        justify-content: space-between;
    }
    nav > *{
        color: #fff!important;
        margin: 0;
    }
    .m-dn{
        display: none!important;
    }
    .d-dn{
        display: unset!important;
    }
    .dark-bg{
        background-color: #111111;
    }
    #current-city{
        /* display: none; */
        color: #fff;
        z-index: unset;
    }
    #current-city>svg{
        display: none;
    }
    #current-city>span{
        /* display: none; */
    }
    #current-city .confirm-city{
        color:#333333;
    }
    input.city_search{
        position: absolute;
        top: -50px;
        left: 50px;
        height: 40px;
        width: 230px;
        padding: 0 0 0 10px;
        box-sizing: border-box;
        background: #333333;
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
        font: inherit;
        outline-color: #d2d2d2;
        transition: 0.3s ease;
    }
    input.city_search:focus{
        left: 20px;
        width: 265px;
    }
    #enter{
        height: auto;
        width: auto;
        background-color: transparent;
        color: #fff;
    }
    #menu-burger #add-offer{
        justify-content: space-between;
        background: inherit;
        max-width: 100%;
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid #4F4F4F;
    }
    .logo{
        order: 2;
    }
    svg.logo{
        display: none;
    }
    .active-menu{
        background-color: transparent;
    }
    #menu-burger{
        position: static;
        padding: 0;
        order: 1;
    }
    #menu-burger:hover{
        background: transparent;
    }
    #menu-burger>svg{
        overflow: visible;
    }
    #menu-burger>svg path{
        fill: #fff;
        transition-delay: 0ms;
        transition: 0.3s ease;
    }
    #menu-burger.active-menu>svg path:first-of-type{
        transform-origin: left;
        transform: rotateZ(45deg) translate(-2px, -2px);
    }
    #menu-burger.active-menu>svg path:last-of-type{
        transform-origin: left;
        transform: rotateZ(-45deg) translate(-1px, 1px);
    }
    #menu-burger.active-menu>svg path:nth-child(even){
        display: none;
        transition: 0s;
    }
    #menu-burger.active-menu>svg[data-action=back]{
        overflow: hidden;
    }
    #menu-burger.active-menu>svg[data-action=back] path:first-of-type{
        transform: rotateZ(45deg) translate(1px, 4px);
    }
    #menu-burger.active-menu>svg[data-action=back] path:last-of-type{
        transform: rotateZ(-45deg) translate(0px, -4px);
    }
    #menu-burger>span{
        display: none;
    }
    #menu-burger .city-page{
        display: unset;
    }
    /* Citties select start */
    #menu-burger ul{
        position: static;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: inherit;
        box-shadow: none;
        color: #fafafa;
    }
    #menu-burger li{
        border-bottom: 1px solid #4F4F4F;
    }
    #menu-burger li:hover{
        background-color: unset;
        border-radius: 0;
    }
    /* Cities select end */
    /* Menu */
    #menu-burger>div{
        top: 56px;
        width: 100vw;
        height: calc(100vh - 56px);
        padding: 0 20px;
        border-radius: 0;
        border-top: 1px solid #4F4F4F;
    }
    #menu-burger div{
        background: #111111;
        box-shadow: none;
    }
    #menu-burger>div div{
        padding: 14px 0;
        border-bottom: 1px solid #4F4F4F;
    }
    #menu-burger>div>div>div{
        border: none;
    }
    #menu-burger>div>div>div,
    #menu-burger>div>div>div>div>div{
        padding: 0 20px 20px 20px;
        border: none;
        z-index: 1;
    }
    #menu-burger>div>div>div,
    #menu-burger>div>div>div>div>div{
        position: absolute;
        top: 0;
        width: 100vw;
        height: calc(100vh - 56px);
    }
    #menu-burger>div>div>div,
    #menu-burger>div>div>div>div,
    #menu-burger>div>div>div>div>div{
        display: block;
        width: 100vw;
        transition: 0.3s ease;
        left: -100%;
        background-color: #111111;
        box-shadow: none;
        border-radius: 0;
    }
    #menu-burger>div>div>div>div{
        position: static;
        width: 100%;
        height: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    #menu-burger>div>div>div>div>a{
        border: none;
    }
    #menu-burger div a{
        color: #FAFAFA;
    }
    #menu-burger div a:hover{
        background: transparent;
        color: #FAFAFA;
    }
    #menu-burger>div>div>div a{
        padding: 14px 0;
        border-bottom: 1px solid #4F4F4F;
        color: #FAFAFA;
    }
    #menu-burger>div>div>div::before{
        display: none;
    }
    /* Menu end */
    div.menu-buttons{
        margin: 0;
        order: 3;
    }
    .ask-question-top,
    .city-page{
        display: none;
    }
    div.content{
        padding: 0 6px;
        box-sizing: border-box;
    }
    div.banner{
        align-items: center;
        height: auto;
        margin: 0 0 1rem 0;
        padding: 2rem 1rem;
        text-align: center;
        color: #000000;
    }
    div.banner h1{
        font-size: 24px;
        line-height: 29px;
    }
    div.banner p{
        margin: 0 0 74px 0;
    }
    .banner-btn{
        color: #000;
    }
    div.index-specs{
        flex-direction: column;
    }
    div.spec-card,
    div.specs-card,
    div.spec-card-wide{
        width: 100%;
        margin: 0 0 1rem 0;
    }
    div.spec-card > div,
    div.specs-card > div,
    div.spec-card-wide > div{
        flex-grow: 1;
        padding: 1.5rem 1rem;
    }
    div.spec-card-wide{
        flex-direction: column;
        height: auto;
        min-height: 25rem;
        padding: 0;
    }
    div.spec-card-wide > img{
        width: 100%;
        height: 9rem;
        object-fit: cover;
        border-radius: 7px 7px 0px 0px;
    }
    div.question-block{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 2rem 1rem;
    }
    div.question-block>div{
        margin: 0;
        text-align: center;
    }
    div.question-block>div p:first-child{
        margin: 0 0 4rem 0;
    }
    div.question-block>div p:last-child{
        margin: 0 0 2rem 0;
    }
    div.question-block textarea{
        height: 280px;
        margin: 0 0 1rem 0;
    }
    div.question-block input{
        position:static;
        width: 100%;
        border-radius: 4px;
        background: #ECF1F7;
        color: #1771E6;
    }
    h1{
        font-size: 1.5rem;
        line-height: 29px;
        text-align: center;
    }
    .after-h1{
        margin: 0;
        text-align: center;
        color: #000000;
    }
    .results-count{
        display: none;
    }
    div.list-wrapper{
        grid-template-columns: 100%;
        grid-template-areas: 
        "filter"
        "list";
    }
    div.no-offers h2{
        margin-left: 0;
    }
    div.no-offers #add-offer{
        max-width: 100%;
    }
    div.filter-wrapper{
        margin: 0 0 2rem 0;
    }
    div.filters{
        display: flex;
        flex-direction: row;
        padding: 0 14px;
        border: none;
        box-shadow: none;
    }
    div.filter-select{
        display: inline-block;
        margin: 0;
    }
    div.filter-select:first-of-type{
        margin: 0 10px 0 0;
    }
    div.filter-select>span{
        display: none;
    }
    div.filter-value{
        border: 1px solid #333333;
        background-color: #fff;
    }
    div.filter-value>div{
        top: calc(100% + 20px);
        width: 250px;
        overflow: hidden;
        border: 1px solid #F1F1F1;
        border-radius: 6px;
    }
    div.filter-select:first-of-type div.filter-value>div{
        left: 0;
    }
    div.filter-select:last-of-type div.filter-value>div{
        right: 0;
        left: unset;
    }
    div.filter-value input{
        font-size: 14px;
        text-overflow: ellipsis;
    }
    div.filter-value svg path{
        fill: #333333;
    }
    button.filter-btn{
        display: none;
    }
    div.list-item,
    div.list-item.top-item{
        display: block;
        padding: 1rem;
    }
    div.list-item{
        background: #FAFAFA;
        border: 1px solid #DCDCE0;
        border-radius: 8px;
        margin: 0 0 1rem 0;
    }
    div.item-desc{
        display: grid;
        grid-template-columns: 132px 1fr;
        grid-column-gap: 1rem;
        grid-template-areas:
        "desc-top desc-top"
        "desc-name desc-name"
        "item-img item-desc"
        "btns btns";
        padding: 0;
    }
    .top-item div.item-desc-top{
        flex-direction: column;
        align-items: flex-start;
        grid-area: desc-top;
        white-space: nowrap;
    }
    p.top-best{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: top-best;
        margin: 0 0 0.5rem 0!important;
        background: #333333;
        font-size: 12px!important;
        color: #fff!important;
        white-space: nowrap;
    }
    p.top-best>img{
        margin: 0 0.25rem 0 1rem;
    }
    p.top-best .lawyer-feedbacks{
        margin: 0 0 0 0.25rem;
    }
    div.item-desc img.list-item.dn{
        display: block!important;
        height: 144px;
        width: 132px;
        margin: 0 0 1.5rem 0;
    }
    div.item-desc-top>p{
        width: min-content;
        white-space: nowrap;
        color: #333333;
    }
    div.list-item.top-item div.item-desc-top p *{
        display: unset;
    }
    div.list-item.top-item div.item-desc-top>p:last-of-type{
        color: #DCDCE0;
    }
    .top-item p.name{
        font-weight: 700;
    }
    p.name{
        margin: 0 0 1rem 0;
        word-break: break-word;
        grid-area: desc-name;
    }
    p.item-desc{
        max-width: 100%;
        word-break: break-word;
        grid-area: item-desc;
    }
    div.item-btns{
        grid-area: btns;
    }
    div.pagination{
        justify-content: center;
        padding: 1rem 0 0 0;
    }
    div.cities-links{
        margin: 0 14px;
    }
    div.rating{
        margin: 0 0 0 1rem;
    }
    div.rating .lawyer-feedbacks{
        margin: 0 0 0 0.25rem;
    }
    div.rating>span:first-of-type{
        font-size: 14px;
    }
    span.lawyer-feedbacks{
        letter-spacing: -1px;
        white-space: nowrap;
    }
    a.item-btn{
        margin: 0;
        color: #333333;
    }
    button.item-btn-quest{
        margin: 0 0 0 auto;
        padding: 19px 1rem 19px 0;
        white-space: nowrap;
    }
    h2{
        margin: 3rem 14px 1rem 14px;
        font-size: 18px;
    }
    h2 + p{
        margin: 0 14px 3rem 14px;
    }
    /* Lawyer page */
    .lawyer-page-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "left-col"
        "right-col";
    }
    div.breadcrumbs.lawyer-page{
        margin: 14px 0 1rem 14px;
    }
    div.breadcrumbs a.lawyer-bread{
        display: none;
    }
    img.lawyer-page{
        width: 70%;
        margin: 0 0 1rem 14px;
    }
    .lawyer-page-wrapper div.rating>span:first-of-type{
        font-size: 18px;
    }
    .lawyer-page-wrapper h1{
        margin: 14px 0 2rem 14px;
        text-align: left;
        order: 2;
    }
    div.lawyer-links{
        display: none;
    }
    .lawyer-page-wrapper .right-col{
        display: flex;
        flex-direction: column;
    }
    div.lawyer-extras{
        margin: 14px 0 10px 14px;
        order: 1;
    }
    #about,
    #feedbacks,
    #question,
    #question+div{
        order: 3;
    }
    #about,
    #feedbacks,
    #question{
        margin: 0 0 1rem 0;
        padding: 1.5rem 1rem 2rem 1rem;
        background: #FAFAFA;
        border: 1px solid #DCDCE0;
        box-sizing: border-box;
        border-radius: 8px;
    }
    #question{
        margin: 0 0 3rem 0;
    }
    div#question form.question-form input[type='text']{
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .lawyer-title{
        margin: 0 0 1rem 0;
    }
    p.lawyer-info{
        margin: 0;
    }
    div.feedback-item{
        margin: 0 0 3rem 0;
        padding: 0;
    }
    div.feedback-item:last-of-type{
        margin: 0;
    }
    div#question textarea{
        margin: 0 0 2rem 0;
    }
    div#question input[type=submit]{
        position: static;
        width: 100%;
    }
    #question+div .lawyer-title{
        margin: 0 0 1.5rem 14px;
    }
    div.lawyer-page-wrapper div.list-item{
        padding: 1.5rem 1rem;
        border: 1px solid #DCDCE0;
    }
    div.lawyer-page-wrapper div.item-desc{
        grid-column-gap: 12px;
        grid-template-areas:
        "desc-top desc-top"
        "item-img desc-name"
        "item-img btns";
    }
    div.lawyer-page-wrapper div.item-desc img.list-item.dn{
        margin: 0;
    }

    /* Lawyer page */

    /* Footer */
    footer{
        margin: 5rem 0 0 0;
        padding: 60px 0;
    }
    footer div.content{
        flex-flow: column nowrap;
        height: auto;
        padding: 0 20px;
    }
    ul.footer-links{
        max-width: 100%;
    }
    ul.footer-links:nth-child(3n+1) { order: unset; }
    ul.footer-links:nth-child(3n+2) { order: unset; }
    ul.footer-links:nth-child(3n)   { order: unset; }

    ul.footer-links:last-of-type{
        margin: 0;
    }
    /* Новые колонки разделители */
    footer div.content::before,
    footer div.content::after {
        display: none;
    }

    /* Footer */
    dialog.question-form{
        padding: 20px 5px;
        box-sizing: border-box;
    }
    form.question-form{
        width: unset;
        padding: 32px 15px;
    }
    form.question-form>img{
        top: 5px;
        right: 5px;
        width: 10px;
        padding: 5px;
        border-radius: 50%;
        background-color: #c5c5c5;
    }
    form.question-form p{
        text-align: center;
    }
    form.question-form textarea{
        padding: 1rem;
    }
    form.question-form input[type='text'],
    form.question-form input[type='submit']{
        width: 100%;
        margin: 0 0 1rem 0;
    }
    form.question-form input[type='submit']{
        margin: 0;
    }
}
@media (max-width: 325px){
    a.item-btn,
    button.item-btn-quest{
        padding: 19px 1.5rem;
    }
    button.item-btn-quest{
        padding: 19px 0;
    }
    form.question-form textarea{
        height: 160px;
    }
}

/* Mobile styles  end */